#canvas-invisible-height {
  z-index: 10;
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#projects-canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &:active {
    @include custom-cursor-activated;
  }
}

#projects-canvas {
  .student-card {
    position: absolute;
    margin: 10px;
  }
}

.student-card {
  width: 200px;
  height: 300px;
  // https://github.com/oveddan/thesis-archive-2020/issues/31
  outline: 0.25px solid black;

  a {
    text-decoration: none;
  }

  .card-bg-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .card-bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      transition: all 0.5s;
    }
  }

  .card-info {
    h3 {
      @extend .subtitle;
      max-height: 2.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      //7% margin top  https://github.com/oveddan/thesis-archive-2020/issues/31
      margin-top: 7%;
      transition: all 0.5s;

      &:hover {
        text-decoration: line-through;
      }
    }

    h5 {
      @extend .body2;
      // overriding it. https://github.com/oveddan/thesis-archive-2020/issues/31
      font-size: 0.9em;
      font-weight: 600;
      margin-bottom: -0.2em;
    }

    p {
      font-size: 0.7em;
      color: #bdbdbd;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover .card-info h3 {
    text-decoration: line-through;
  }

  &:hover .card-bg {
    transform: scale(1.2);
  }

  $card-icon-scale: 8;

  &.icon-card {
    .card-bg-frame {
      text-align: center;
    }
    svg {
      transform: scale($card-icon-scale);
      -ms-transform: scale($card-icon-scale);
      -webkit-transform: scale($card-icon-scale);
      margin-top: 75%;
    }
  }
}
