@import "./variables.scss";

#Main {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #676767;
}

#Container {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  display: block;
  height: 100%;
  pointer-events: none;
  top: 30px;
  bottom: 0px;
  flex-direction: row;
  align-items: center;
}

#Message {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#Content {
  color: white;
  background: $primary-color;
  opacity: 0.9;
  padding: 12px 22px;
  font-size: 1em;
  display: grid;
  grid-gap: 0px;
  overflow: hidden;
  //   grid-template-columns: ${props => (props.canClose === false ? '1fr' : '1fr auto')};
  //   margin-top: ${props => (props.top ? '0' : '10px')};
  //   margin-bottom: ${props => (props.top ? '10px' : '0')};
}

#Button {
  cursor: pointer;
  pointer-events: all;
  outline: 0;
  border: none;
  background: transparent;
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  color: rgba(255, 255, 255, 0.5);

  :hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

#lllife {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(130deg, #00b4e6, #00f0e0);
  height: 5px;
  //   bottom: ${props => (props.top ? '10px' : '0')};
}
