$cursor-default-lo: "../images/cursors/cursor-default.svg";
$cursor-default-hi: "../images/cursors/cursor-default@2x.png";

$cursor-hover-clickable-item-lo: "../images/cursors/cursor-hover-clickable-item.svg";
$cursor-hover-clickable-item-hi: "../images/cursors/cursor-hover-clickable-item@2x.png";

$cursor-activated-lo: "../images/cursors/cursor-activated.svg";
$cursor-activated-hi: "../images/cursors/cursor-activated@2x.png";

@mixin custom-cursor-default {
  cursor: url($cursor-default-lo) 16 16, default;
  cursor: -webkit-image-set(
        url($cursor-default-lo) 1x,
        url($cursor-default-hi) 2x
      )
      16 16,
    default;
}

@mixin custom-cursor-hover-clickable-item {
  cursor: url($cursor-hover-clickable-item-lo) 12 12, pointer;
  cursor: -webkit-image-set(
        url($cursor-hover-clickable-item-lo) 1x,
        url($cursor-hover-clickable-item-hi) 2x
      )
      12 12,
    pointer;
}

@mixin custom-cursor-activated {
  cursor: url($cursor-activated-lo) 7.25 7.25, pointer;
  cursor: -webkit-image-set(
        url($cursor-activated-lo) 1x,
        url($cursor-activated-hi) 2x
      )
      7.25 7.25,
    pointer;
}

@mixin break($length) {
  @media (min-width: $length) {
    @content;
  }
}

@mixin clearFix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}
