@import "./typography.scss";
@import "./variables.scss";
@import "./keyframes.scss";
@import "./mix-ins.scss";
@import "~bootstrap/scss/bootstrap.scss";

:root {
  // universal default size;
  font-size: $font-size-root;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 3.5em;
  line-height: 1.15em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @include custom-cursor-default;

  &::-webkit-scrollbar {
    display: none;
  }
}

/**** navbar ****/

.navbar {
  .navbar-brand {
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
    color: $text-color;
  }
  padding: 0.5rem;

  .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    // &.active {
    //   color: $primary-color;
    // }
  }
}

/**** home ****/

a {
  &:hover {
    @include custom-cursor-hover-clickable-item;
  }

  &:active {
    @include custom-cursor-activated;
  }
}

#header2020-bg {
  position: relative;
  z-index: 10;
  width: 100vw;
  background-color: white;

  h1 {
    font-size: 4em;
  }
}

#header2020-bg-animation {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
  width: 100vw;
  background: url("../images/20.svg") repeat-x;
  background-size: $width2020;
  animation: move_background $scrollSpeed infinite linear;
}

#header-invisible-height {
  visibility: hidden;
  width: $width2020 + 1vh;
}

#canvas-invisible-height {
  z-index: 10;
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#canvas-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vh;
  left: 0vw;
}

#projects-canvas {
  width: 100vw;
  cursor: -webkit-grab;
}

.student-card {
  position: absolute;
  margin: 10px;
  width: 200px;
  height: 300px;
  display: inline-block;
  box-shadow: gray;

  .card-info {
    h3 {
      font-size: 0.75em;
      color: black;
      font-weight: 700;
      max-height: 2.2em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h5 {
      font-size: 0.6em;
      color: black;
      font-weight: 700;
    }

    p {
      font-size: 0.4em;
      color: $tertiary-color;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/**** Student Details ****/

hr {
  border: none;
  height: 1px;
  background-color: $primary-color;
  border-radius: 2px;
}

#details {
  .tags {
    &,
    & a {
      color: $secondary;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }
  }
}
