$width2020: 25vh;
$scrollSpeed: 4s;
$canvasSize: 10000px;

$body-bg: #fefffe;

$primary-color: #e758fe;

$theme-colors: (
  "primary": $primary-color,
);

$font-family-sans-serif: Helvetica, sans-serif;
